@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; -webkit-tap-highlight-color: transparent; }
body, html { height: 100%; width: 100%; overflow: hidden; background: #000; font-family: 'Inter', sans-serif; }

#map { height: 100%; width: 100%; z-index: 1; }
#mly { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 50; display: none; background: #000; }

/* The Bottom Dock! */
#ui-panel {
    position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);
    z-index: 100; width: 92%; max-width: 420px;
    background: #000000; padding: 12px; border-radius: 20px;
    border: 1px solid #222; display: flex; flex-direction: column; gap: 12px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.9);
}

/* Search Area */
.search-container {
    display: flex; background: #111; border-radius: 12px; padding: 4px; border: 1px solid #222;
}
#location-input {
    flex-grow: 1; background: transparent; border: none; padding: 10px 14px; color: #fff; font-size: 15px; outline: none;
}
#search-btn {
    width: 44px; height: 44px; background: #ff3b30; border: none; border-radius: 10px; color: white; cursor: pointer;
}

/* Controls */
.controls-row { display: flex; gap: 10px; height: 54px; }

.select-wrapper {
    flex-grow: 1; position: relative; background: #000000; border-radius: 12px;
    display: flex; align-items: center; padding: 0 15px; border: 1px solid #222;
}

#map-styles {
    width: 100%; background: #000000; border: none;
    color: #8e8e93; /* Professional Grey Letters */
    font-size: 11px; font-weight: 700; letter-spacing: 1.5px;
    outline: none; appearance: none; cursor: pointer;
}

.select-wrapper i { position: absolute; right: 15px; color: #444; pointer-events: none; }

#drag-indicator {
    width: 54px; height: 54px; background: #ff3b30; color: #fff; border-radius: 12px;
    display: flex; align-items: center; justify-content: center; font-size: 22px; cursor: grab;
    box-shadow: 0 4px 12px rgba(255, 59, 48, 0.3);
}

/* Back Button */
#close-mly {
    position: absolute; top: 25px; left: 20px; z-index: 110;
    width: 44px; height: 44px; background: #000; color: #ff3b30;
    border: 1px solid #222; border-radius: 50%; display: flex; align-items: center; justify-content: center;
}

.hidden { display: none !important; }

.leaflet-control-container { display: none; }
